/*Goes on top of bootstrap css*/

.input-group.input-group-primary .input-group-addon {
	color: #FFF;
	background-color: #428BCA;
	border-color: #428BCA;
}

body {
    background-image:url("/img/bg2.jpg");
    background-repeat:repeat-none;
    background-attachment:scroll;
}

body > .container {
    background-color:white;
    box-shadow: 0px 0px 5px #333;
}
