extends ../bootstrap.jade

block body
    .jumbotron
        .container
            .col-md-4
                img.img-responsive.pull-left(width="600" src="/img/logo.svg")
            .col-md-8
                h1 Wardenclyffe   
                    br
                    small Social Learning on the Web
                p.text-center
                    a.btn.btn-primary.btn-lg(role="button") Learn more
                    a.btn.btn-primary.btn-lg(role="button") Get Started