extends ../bootstrap.jade

block body
    .jumbotron
        .container
            .col-md-4
                img.img-responsive.pull-left(width="600" src="/img/tower.svg")
            .col-md-8
                h1 Wardenclyffe   
                    br
                    small Social Learning on the Web
                p
                    a.btn.btn-primary.btn-lg(role="button" style="margin:0px 15px;") Learn more
                    a.btn.btn-primary.btn-lg(role="button" style="margin:0px 15px;") Get Started