extends ../bootstrap.jade

block body
    .jumbotron
        .container
            img.temp(width="400" height="300" src="")
            h1 Wardenclyffe   
                br
                small Social Learning on the Web
            p.text-center
                a.btn.btn-primary.btn-lg(role="button") Learn more
                a.btn.btn-primary.btn-lg(role="button") Get Started