extends ../bootstrap.jade

block body
    .container
        .jumbotron
            img.img-responsive.center-block(width="8000" src="/img/logo.svg")
            .row
                a.btn.btn-primary.btn-lg.col-sm-5(role="button" href="#info") Learn more
                a.btn.btn-primary.btn-lg.col-sm-5.col-sm-offset-2(role="button" href="/ask") Get Started
        hr