extends ../bootstrap.jade

block body
    .container
        .page-header
            h2 #{q.title}
        .row.question-body
            .description.col-sm-8 #{q.description}
            br
            br
            .tags.col-sm-8 
                each tag in q.tags
                    a.tag.badge(style="margin:5px 5px 0px 5px;", href="/tag/"+tag) #{tag}  
                hr(style="margin-bottom:0px;")          
        
        h3 Answers
        br
        .answers(style="padding-left:20px;")
            //Todo: Iterate over answers
            if q.answers
                each answer in q.answers
                    .answer
                        .description
                            != '<p>code</p>'
            else
                p No answers.
            br
            form.answer-form(method="POST" action="/question/" + q.id + "/answer")
                .row
                    .input-group.col-sm-10
                        .panel.panel-default
                            .panel-heading
                                h3.panel-title(style="font-size:18px;") Answer This Question:
                            .panel-body(style="padding:0px;")
                                textarea#answer-text.form-control.editor-wysiwyg(rows="12" name="description" style="resize:none;")
                .row
                    .input-group.input.group.lg.input-group-primary.col-sm-8
                        input#submit.btn.btn-primary(type="submit" value="Submit Answer")