extends ../bootstrap.jade

block body
    .container
        .page-header
            h1 Tags: #{tag}
        each r in results
            .row(style="padding-left:30px;")
                a.col-sm-8(href="/question/" + r._id)
                    h4.result-title #{r.title}
                    .description #{r.description}
                    hr